@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root{
  --special_black: #162938
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  /* background: red; */
  /* background: rgba(0,0,0,0.5); */
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0) 100%);
  display: flex;
  justify-content: space-between;
  text-align: center;
  z-index: 99;
}

header img{
  height:50px;
  margin: 0 20px 0 0;
}

header .logo-and-title{
  display: flex;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  /* background: red; */
  /* background: rgba(0,0,0,0.5); */
  background: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0) 100%);
  color: #ffffff;
  text-align: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: #ffffff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ffffff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #ffffff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
  /* transition: all 0.5s ease-in-out; */
}

.navigation .btnLogin-popup:hover {
  background: #ffffff;
  color: var(--special_black);
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: rgba(255,255,255, .5);
  border: 2px solid rgba(255,255,255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 50px rgba(255,255,255,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; /* Comment this to see how the Login and Register menu items are shifted left and right*/
  transform: scale(0); /* visibly hidden */
  transition: transform .5s ease, height .5s ease;
}

.wrapper.active-popup {
  transform: scale(1); /* visible, at normal size*/
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform .5s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login{
  transition: transform .5s ease;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  transition: transform .5s ease;
  position: absolute; /* This is so that the Register form items is not vertically below the Login form items*/
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .5s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: var(--special_black);
  font-size: 2em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2{
  font-size: 2em;
  color: var(--special_black);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--special_black);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--special_black);
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label, .input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--special_black);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: var(--special_black);
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: var(--special_black);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color:var(--special_black);
  margin-right: 3px;
}

.remember-forgot a {
  color: var(--special_black);
  text-decoration: none;
  font-weight: 600;
}

.remember-forgot a:hover, .login-register p a:hover{
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: var(--special_black);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
}

.login-register {
  font-size: .9rem;
  color: var(--special_black);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: var(--special_black);
  text-decoration: none;
  font-weight: 600;
}

